<template>
  <div>
    <!-- <b-form @submit="onSubmit"> -->
    <b-card
      :title="film.judul"
      :img-src="film.poster"
      :img-alt="film.id_film.toString()"
      img-top
      style="max-width: 20rem;"
      class="mb-2"
    >
      <b-row style="align-items: center">
        <b-col sm="7">
          <h6>Rp. {{ film.harga }}</h6></b-col
        >
        <b-col sm="4"
          ><b-button
            @click="onClick"
            v-if="film.tersedia === 1"
            variant="success"
            >Sewa</b-button
          >
          <b-button v-else>Kosong</b-button>
        </b-col>
      </b-row>
    </b-card>
    <!-- </b-form> -->
  </div>
</template>

<script>
import movie from "../api/movie";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  name: "Card",
  props: ["film"],
  methods: {
    onClick(event) {
      event.preventDefault();
      if (cookies.get("authToken")) {
        movie
          .post(
            "/api/cart",
            {
              id_film: this.film.id_film,
              cost: this.film.harga,
            },
            {
              headers: {
                Authorization: "Bearer " + cookies.get("authToken"),
              },
            }
          )
          .then(() => {
            this.$toast.success("Berhasil memasukkan film ke cart", {
              position: "top-right",
            });
          });
      } else {
        this.$toast.error("Silahkan login terlebih dahulu", {
          position: "top-right",
        });
      }
    },
  },
};
</script>

<style></style>
