<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <div class="container py-3">
        <b-navbar-brand><router-link
                to="/"
                style="text-decoration: none; color: inherit;"
                ><strong>Rent Movie</strong></router-link
              ></b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav> </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <template v-if="!this.token">
              <b-nav-item
                ><router-link
                  to="/login"
                  style="text-decoration: none; color: inherit;"
                  >Login</router-link
                ></b-nav-item
              >
              <b-nav-item
                ><router-link
                  to="/register"
                  style="text-decoration: none; color: inherit;"
                  >Register</router-link
                ></b-nav-item
              >
            </template>
            <template v-else>
              <b-nav-item
                ><router-link
                  to="/cart"
                  style="text-decoration: none; color: inherit;"
                  ><b-icon-cart></b-icon-cart> Cart <span class="badge badge-danger ml-2" v-if="cartItems">{{updateCart? updateCart.length:cartItems}}</span></router-link
                ></b-nav-item
              >
              <b-nav-item @click="logout">Logout</b-nav-item>
            </template>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
import movie from "../api/movie";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  name: "NavBar",
  data() {
    return {
      token: cookies.get("authToken"),
      cartItems: 0,
    };
  },
  props: ['updateCart'],
  methods: {
    setToken(data) {
      this.token = data;
    },
    setCartItems(data) {
      this.cartItems = data;
    },
    logout() {
      movie
        .post(
          "http://localhost:8000/api/logout",
          {},
          {
            headers: {
              Authorization: "Bearer " + this.token,
            },
          }
        )
        .then(() => {
          cookies.remove("authToken", [{ path: "/" }]);
          this.$toast.success("Berhasil Logout", {
            position: "top-right",
          });
          this.setToken("");
          this.$router.push("/");
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    movie
      .get("/api/cart",{headers: {Authorization: `Bearer ${cookies.get('authToken')}`}})
      .then((res) => {
        this.setCartItems(res.data.cart.length)
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style></style>
