html,
body {
  height: 100%;
}

#app {
    font-family: 'Montserrat',sans-serif;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .row {
    flex-direction: column;
  } /* show it on small screens */
  .bg-right {
    height: 20%;
  }
}

.bg-white {
  background: white;
}

.line {
  height: 4px;
  width: 30px;
}

.bg-right {
  background-image: url("../Right.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
