<template>
  <div>
    <NavBar :updateCart="carts" />
    <div class="container pb-5">
      <div class="row mt-5">
        <h2>My <strong>Cart</strong></h2>
      </div>

      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Poster</th>
              <th scope="col">Title</th>
              <th scope="col">Director</th>
              <th scope="col">Slogan</th>
              <th scope="col">Price</th>
              <th scope="col">Hapus</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in carts" v-bind:key="item.id_item">
              <th scope="row">{{ index + 1 }}</th>
              <td>
                <img
                  :src="item.poster"
                  class="img-fluid shadow"
                  width="200"
                  alt="..."
                />
              </td>
              <td>{{ item.judul }}</td>
              <td>{{ item.sutradara }}</td>
              <td>{{ item.slogan ? item.slogan : "-" }}</td>
              <td>Rp {{ item.harga }}</td>
              <td align="center" class="text-danger">
                <b-icon-trash
                  @click="deleteCartItem(item.id_item)"
                ></b-icon-trash>
              </td>
            </tr>
            <tr>
              <td colspan="5" align="right">
                <strong>Total Harga :</strong>
              </td>
              <td colspan="2">
                <strong>Rp {{ totalHarga }} </strong>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import movie from "../api/movie";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  name: "Cart",
  components: {
    NavBar,
  },
  data() {
    return {
      carts: [],
    };
  },
  methods: {
    setCarts(data) {
      this.carts = data;
    },
    deleteCartItem(id) {
      movie
        .delete(`/api/cart/${id}`, {
          headers: { Authorization: `Bearer ${cookies.get("authToken")}` },
        })
        .then((res) => {
          this.$toast.success(res.data, {
            position: "top-right",
          });
          movie
            .get("/api/cart", {
              headers: { Authorization: `Bearer ${cookies.get("authToken")}` },
            })
            .then((res) => {
              this.setCarts(res.data.cart);
            })
            .catch((err) => {
              console.log(err);
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    if (!cookies.get("authToken")) {
      this.$router.push("/login");
    }
    movie
      .get("/api/cart", {
        headers: { Authorization: `Bearer ${cookies.get("authToken")}` },
      })
      .then((res) => {
        this.setCarts(res.data.cart);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  computed: {
    totalHarga() {
      return this.carts.reduce((items, data) => {
        return items + data.harga;
      }, 0);
    },
  },
};
</script>

<style></style>
