<template>
  <div class="home">
    <NavBar />
    <div class="bg-info" style="height: 65vh;">
      <div
        class=" d-flex flex-column align-items-center justify-content-center"
        style="height: 100%;"
      >
        <h2 class="text-light">Hai, Mau Pinjam Film Apa?</h2>
        <div class="row justify-content-center w-75 mt-5">
          <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" @submit="searchFilm" v-on:submit.prevent>
              <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                  <input
                    v-model="searchTerm"
                    name="input"
                    class="form-control form-control-lg form-control-borderless"
                    type="search"
                    placeholder="Cari film atau genre"
                  />
                </div>
                <!--end of col-->
                <div class="col-auto">
                  <button class="btn btn-lg btn-info px-5" type="submit">
                    Cari
                  </button>
                </div>
                <!--end of col-->
              </div>
            </form>
          </div>
          <!--end of col-->
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row mb-3">
        <div class="col-md-3 mt-4" v-for="film in films" :key="film.id_film">
          <Card :film="film" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from "@/components/Card.vue";
import NavBar from "@/components/NavBar.vue";
import movie from "../api/movie";
export default {
  name: "Home",
  components: {
    NavBar,
    Card,
  },
  data() {
    return { films: [], searchTerm: "" };
  },
  methods: {
    setFilm(data) {
      this.films = data;
    },
    async searchFilm() {
      if (this.searchTerm) {
        await movie
          .get(`/api/search/${this.searchTerm}`)
          .then((response) => {
            this.setFilm(response.data);
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        movie
          .get("/api/film")
          .then((response) => {
            this.setFilm(response.data);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
  mounted() {
    movie
      .get("/api/film")
      .then((response) => {
        this.setFilm(response.data);
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style>
.nav {
  display: flex;
  padding: 20px;
  color: lightgray;
  text-decoration: none;
  background-color: midnightblue;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-color: midnightblue;
  display: flex;
  height: 30rem;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 20px;
}

.secondary {
  background-color: #f50057;
  color: white;
  border-radius: 5px;
}

.primary {
  background-color: midnightblue;
  color: white;
  border-radius: 5px;
}

input {
  padding: 5px;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
  }
}
</style>
