<template>
  <div style="height:100vh">
    <div class="row w-100 h-100 m-0 p-0">
      <div class="col d-flex justify-content-center align-items-center mb-3">
        <main class="form-signin w-75">
          <h4 class="text-center">Masuk</h4>
          <div class="line bg-primary mb-4 mx-auto"></div>
          <form @submit="login" v-on:submit.prevent>
            <div class="mb-3">
              <input
                placeholder="Email"
                name="email"
                class="form-control"
                v-model="user.email"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <input
                v-model="user.password"
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">
              Submit
            </button>
          </form>
          <p class="bg-white translate-middle my-4">
            Atau
          </p>
          <div class="register">
            <router-link to="/register" class="btn btn-success w-100"
              >Daftar</router-link
            >
          </div>
        </main>
      </div>
      <div
        class="col-sm bg-right d-flex p-0 justify-content-center align-items-center"
      >
        <h1 class="text-center fw-normal text-light">
          Peminjaman <b>Film</b><br />menjadi lebih <b>mudah</b>
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
import movie from "../api/movie";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  name: "Login",
  data() {
    return {
      user: {},
    };
  },
  methods: {
    login() {
      movie
        .post("/api/login", this.user)
        .then((res) => {
          cookies.set("authToken", res.data.token, { path: "/" });
          this.$router.push("/");
        })
        .catch((err) => {
          console.log(err);
          this.$toast.error("email atau password tidak sesuai", {
            position: "top-right",
          });
        });
    },
  },
  mounted() {
    if(cookies.get('authToken')){
      this.$router.push('/');
    }
  },
};
</script>

<style></style>
