<template>
  <div class="bg-info" style="height:100vh">
    <div
      class="container d-flex align-items-center justify-content-center h-100"
    >
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Daftar</h3>
          </div>
          <form @submit="register" v-on:submit.prevent>
            <div class="card-body">
              <div class="form-group mb-2">
                <label for=""><strong>Username</strong></label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  placeholder="Username"
                  v-model="user.name"
                />
              </div>
              <div class="form-group mb-2">
                <label for=""><strong>Email</strong></label>
                <input
                v-model="user.email"
                  type="text"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <div class="form-group mb-2">
                <label for=""><strong>Password</strong></label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                  v-model="user.password"
                />
              </div>
              <div class="form-group">
                <label for=""><strong>Konfirmasi Password</strong></label>
                <input
                  type="password"
                  name="password_confirmation"
                  class="form-control"
                  placeholder="Confirm Password"
                  v-model="user.password_confirmation"
                />
              </div>
            </div>
            <div class="card-footer">
              <button
                type="submit"
                class="btn w-100 btn-primary btn-block mb-3"
              >
                Daftar
              </button>
              <p class="text-center">
                Sudah punya akun?
                <router-link to="/login">Masuk</router-link> sekarang!
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import movie from "../api/movie";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  name: "Register",
  data() {
    return {
      user: {},
    };
  },
  methods: {
    register() {
      movie
        .post("/api/register", this.user)
        .then((res) => {
          cookies.set("authToken", res.data.token, { path: "/" });
          this.$router.push("/");
        })
        .catch((err) => {
          console.log(err);
          this.$toast.error("Terjadi kesalahan dalam pendaftaran", {
            position: "top-right",
          });
        });
    },
  },
  mounted() {
    if(cookies.get('authToken')){
      this.$router.push('/');
    }
  },
};
</script>

<style></style>
